<!-- Objetivos -->
<div class="row p-4 mb-5">
    <div class="col-md-5 d-flex flex-column mb-2 justify-content-center">
        <img src="{{ base_url() }}/images/logo-home.jpg"
             alt="Logo Desafio do Código"
             class="img-fluid"/>
        <br/>
    </div>
    <div class="col-md-7 d-flex flex-column mb-2 justify-content-center">
        <h1 class="font-weight-light">Aprenda gratuitamente as habilidades necessárias
            para fazer <b style="font-weight-bold">jogos, animações e aplicativos</b>.</h1>
        <h4 class="mt-3 font-weight-light">
            Descubra como hackear sua própria educação.
            Aprenda a programar. Programe para aprender.
        </h4>
        <div>
            <button type="button"
                    class="btn btn-primary btn-lg mt-3"
                    style="font-size: 2em">
                Começar agora
            </button>
        </div>
    </div>
</div>

<!-- Objetivos -->
<div class="row mb-4">
    <div class="col-md-4 col-sm-6 d-flex align-items-stretch mb-2">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title font-weight-bold">O que é?</h5>
                <p class="card-text text-secondary">Desafio online com um conjunto de missões que guiam você aprender
                    programação, matemática e inglês. Crie sua conta e comece a aprender! </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 d-flex align-items-stretch mb-2">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title font-weight-bold">Qual o objetivo?</h5>
                <p class="card-text text-secondary">Estimular o aprendizado das habilidades necessárias no Século XXI de
                    forma lúdica, divertida, online e gratuita. Acessível a todos.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 d-flex align-items-stretch mb-2">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title font-weight-bold">Quem pode participar?</h5>
                <p class="card-text text-secondary">Jovens de 8 a 108 anos, que estejam interessados em aprender mais,
                    ganhar conhecimentos, ou simplesmente querem descobrir algo novo.</p>
            </div>
        </div>
    </div>
</div>


<!-- Conquistar -->
<div class="row bg-light p-4">
    <div class="col-12 text-center m-3">
        <h3>O que você vai conquistar com o Desafio do Código?</h3>
    </div>
    <div class="col-md-3 col-sm-6 mb-2 d-flex align-items-stretch">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title font-weight-bold">Certificados da Code.org</h5>
                <img src="{{ base_url() }}/images/certificado-khan.jpg" class="img-fluid"
                     alt="Certificado da Code.org"/>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-2 d-flex align-items-stretch">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title font-weight-bold">Certificado Khan Academy</h5>
                <img src="{{ base_url() }}/images/certificado-codeorg.jpg" class="img-fluid"
                     alt="Certificado Khan Academy"/>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-2 d-flex align-items-stretch">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title font-weight-bold">Proficiência em Inglês</h5>
                <img src="{{ base_url() }}/images/certificado-duolingo.svg" class="img-fluid" alt="Duolingo"/>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-2 d-flex align-items-stretch">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title font-weight-bold">Linguagens de Programação</h5>
                <img src="{{ base_url() }}/images/certificado-code-academy.jpg" class="img-fluid"
                     alt="Certificado da Code Academy"/>
            </div>
        </div>
    </div>
</div>


<!-- Pronto!? -->
<div class="row pt-5 pb-5">
    <div class="col-12 text-center m-3">
        <h3>Pronto para encarar o Desafio?</h3>
    </div>
    <div class="col-12 text-center m-3 green">
        <button type="button"
                class="btn btn-primary btn-lg"
                style="font-size: 2em">
            Começar agora
        </button>
    </div>
</div>

<!-- Depoimentos -->

<div class="row bg-light p-4">

    <div class="col-12 text-center p-3">
        <h3 class="text-secondary m-3">“Poxa vida, mas não sei absolutamente nada de programação”. </h3>
        <h3 class="text-success m-4 font-weight-bold">Não se preocupe, nós te ensinaremos tudo passo a passo.</h3>
    </div>

    <div class="col-md-4 mb-2">
        <iframe width="100%" height="280" src="https://www.youtube.com/embed/znYtlaLf-CI?rel=0&amp;showinfo=0"
                frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="col-md-4 mb-2">
        <iframe width="100%" height="280" src="https://www.youtube.com/embed/CbVp1Z-NRPU?rel=0&amp;showinfo=0"
                frameborder="0" allowfullscreen=""></iframe>
    </div>
    <div class="col-md-4 mb-2">
        <iframe width="100%" height="280" src="https://www.youtube.com/embed/-b5Zuqgsr3Q?rel=0&amp;showinfo=0"
                frameborder="0" allowfullscreen=""></iframe>
    </div>

</div>

<!-- Ainda tem duvidas? -->
<div class="row p-4">
    <div class="col-12 text-center p-3">
        <h3>Está pensando em participar, mas ainda tem dúvidas?</h3>
    </div>
    <div class="card-group">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title font-weight-bold">Várias Jornadas</h5>
                <img src="{{ base_url() }}/images/soraia-avatar.jpg" alt="Soaria Novaes" class="img-fluid">
                <p class="card-text text-secondary">Você pode escolher dentre várias jornadas de conhecimento, onde
                    seguirá por trilhas com pequenos desafios. Desta forma você aprende continuamente, de forma
                    simples
                    e objetiva.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title font-weight-bold">Os Tutores</h5>
                <img src="{{ base_url() }}/images/soraia-avatar.jpg" alt="Soaria Novaes" class="img-fluid">
                <p class="card-text text-secondary">
                    <strong>Soraia Novaes</strong> é co-founder e tutora do CodeWars. Tradutora plena da Khan
                    Academy, Professora certificada Google Trainer, Google Certified Innovator e autora do
                    livro “Tecnologias para Inovação nas Escolas”.<br/>
                    <img src="{{ base_url() }}/images/soraia-badges.jpg" height="60" alt="Soaria Novaes - Badges">
                </p>
                <p class="card-text text-secondary">
                    <strong>Tiago Gouvêa</strong> é co-founder e tutora do CodeWars. Tradutora plena da Khan
                    Academy, Professora certificada Google Trainer, Google Certified Innovator e autora do
                    livro “Tecnologias para Inovação nas Escolas”.
                </p>
                <p>

                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title font-weight-bold">Peguntas Frequentes</h5>
                <img src="{{ base_url() }}/images/question.jpg" alt="Interrogação" class="img-fluid">
                <p class="card-text text-secondary">
                    <span>Meu computador precisa ser potente?</span>
                    Não necessariamente, basta ter um navegador atualizado.
                    <span>Posso fazer tudo em casa?</span>
                    Sim, você pode fazer todos os desafios onde estiver.
                    <span>Preciso estar conectado sempre?</span>
                    Sim, utilizamos recursos online e você vai precisar de conexão com a internet para realizar os
                    desafios.
                    <span>Preciso pagar alguma coisa?</span>
                    Não, a trilha do Desafio é gratuita. Caso você prefira, pode contar com um tutor para lhe
                    acompanhar, contratando por hora.
                    + Perguntas
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Educadores -->
<div class="row p-4"
     style="background: url('{{ base_url() }}/images/bg-educadores.jpg') no-repeat;background-size: cover;">
    <div class="col-md-6 text-body">
        <h2 class="card-title text-dark text-center">Educadores são bem vindos!</h2>
        <h5 class="card-title text-dark text-center">Precisamos levar tecnologia para as salas de aulas, tornar o
            ensino mais interativo e contextualizado
            com o momento em que vivemos.
        </h5>
    </div>
    <div class="col-md-6 text-body">
        <div class="card">
            <img class="card-img-top" src="{{ base_url() }}/images/atualizacao-professor.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Atualização para profesorres</h5>
                <p class="card-text">Nosso programa contempla de forma abrangente a atualização dos
                    professores,
                    colocando-os em contato com novas ferramentas e tecnologias.</p>
                <a href="#" class="btn btn-primary">Conhecer mais</a>
                <img class="card-img-top" src="{{ base_url() }}/images/google-tools.png" alt="Card image cap">
                <h5 class="card-title">Tecnologias Google para Educação</h5>
                <p class="card-text">A colaboração foi simplificada. Crie, compartilhe e edite arquivos em
                    tempo
                    real. Todos acompanham o conteúdo, que é armazenado automaticamente na nuvem. Use em
                    qualquer dispositivo, tenha uma experiência consistente em qualquer computador, tablet
                    ou
                    telefone. Acesse seus arquivos a qualquer hora, em qualquer lugar.</p>
                <a href="#" class="btn btn-primary">Conhecer mais</a>
            </div>
        </div>
    </div>
</div>

<!-- Programas -->
<div class="row p-3">

    <div class="row">
        <div class="col-12 text-center m-4">
            <h2>Programas que apoiamos</h2>
        </div>
        <div class="col-md-2 col-sm-4 col-6 d-flex align-items-stretch">
            <div class="card flex-fill mb-3">
                <img class="card-img-top" src="{{ base_url() }}/images/apoiamos/scratch.png"
                     alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title text-center">Scratch</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 d-flex align-items-stretch">
            <div class="card flex-fill mb-3">
                <img class="card-img-top" src="{{ base_url() }}/images/apoiamos/code.png"
                     alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title text-center">Code</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 d-flex align-items-stretch">
            <div class="card flex-fill mb-3">
                <img class="card-img-top" src="{{ base_url() }}/images/apoiamos/khanacademy.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title text-center">Khan Academy</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 d-flex align-items-stretch">
            <div class="card flex-fill mb-3">
                <img class="card-img-top" src="{{ base_url() }}/images/apoiamos/womenintechnology.png"
                     alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title text-center">Women in Technology</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 d-flex align-items-stretch">
            <div class="card flex-fill mb-3">
                <img class="card-img-top" src="{{ base_url() }}/images/apoiamos/womenwhocode.png"
                     alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title text-center">Women Who Code</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 d-flex align-items-stretch">
            <div class="card flex-fill mb-3">
                <img class="card-img-top" src="{{ base_url() }}/images/apoiamos/eupossoprogramar.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title text-center">Eu Posso Programar</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 d-flex align-items-stretch">
            <div class="card flex-fill mb-3">
                <img class="card-img-top" src="{{ base_url() }}/images/apoiamos/womentechmakers.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title text-center">Women TechMakers</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 d-flex align-items-stretch">
            <div class="card flex-fill mb-3">
                <img class="card-img-top" src="{{ base_url() }}/images/apoiamos/freecodecamp.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title text-center">FreeCodeCamp</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 d-flex align-items-stretch">
            <div class="card flex-fill mb-3">
                <img class="card-img-top" src="{{ base_url() }}/images/apoiamos/girlswhocode.png"
                     alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title text-center">Girls Who Code</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 d-flex align-items-stretch">
            <div class="card flex-fill mb-3">
                <img class="card-img-top" src="{{ base_url() }}/images/apoiamos/logo-programae.png"
                     alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title text-center">Programaê</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 d-flex align-items-stretch">
            <div class="card flex-fill mb-3">
                <img class="card-img-top" src="{{ base_url() }}/images/apoiamos/technovation.png"
                     alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title text-center">Technovation</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 d-flex align-items-stretch">
            <div class="card flex-fill mb-3">
                <img class="card-img-top" src="{{ base_url() }}/images/apoiamos/logo-codeclub-br.svg"
                     alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title text-center">Code Club Br</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 d-flex align-items-stretch">
            <div class="card flex-fill mb-3">
                <img class="card-img-top" src="{{ base_url() }}/images/apoiamos/mulheresnacomputacao.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title text-center">Mulheres na Computação</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 d-flex align-items-stretch">
            <div class="card flex-fill mb-3">
                <img class="card-img-top" src="{{ base_url() }}/images/apoiamos/djangogirls.png"
                     alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title text-center">Django Girls</h6>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 d-flex align-items-stretch">
            <div class="card flex-fill mb-3">
                <img class="card-img-top" src="{{ base_url() }}/images/apoiamos/programaria.png"
                     alt="Card image cap">
                <div class="card-body">
                    <small class="card-title text-center">Programaria</small>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-4 col-6 d-flex align-items-stretch">
            <div class="card flex-fill mb-3">
                <img class="card-img-top" src="{{ base_url() }}/images/apoiamos/codegirl.png"
                     alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title text-center">Code Girl</h6>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Pronto!? -->
<div class="row pt-5 pb-5 bg-light">
    <div class="col-12 text-center m-3">
        <h3>Pronto para começar agora?</h3>
    </div>
    <div class="col-12 text-center m-3 green">
        <button type="button"
                class="btn btn-primary btn-lg"
                style="font-size: 2em">
            Encarar o Desafio!
        </button>
    </div>
</div>